body {
  background-image: url(assets/background-image.jpg);
  background-size: cover; /*Propriedade que cobre toda a página. Faz com que a imagem de fundo não seja replicada quando da redução do zoom. */
}

#page {
  box-sizing: border-box; /*para evitar a soma dos paddings; o padding que adicionamos mais o padrão da caixa*/
  background-color: #F0E8C2;
  border-radius: 24px;
  padding: 24px;
  width: 800px;
}

img {
  border-radius: 16px;
}