* {
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Alice", serif;
  line-height: 150%;
  -webkit-font-smoothing: antialiased; /*para suavizar ao estilo da fonte*/
  color: #573A37;
 
  
}

body {
  background-color: #573824;
  background-image: url(assets/background-image.jpg);
  background-size: cover; /*Propriedade que cobre toda a página. Faz com que a imagem de fundo não seja replicada quando da redução do zoom. */
  
}

#page {
  box-sizing: border-box; /*para evitar a soma dos paddings; o padding que adicionamos mais o padrão da caixa*/
  background-color: #F0E8C2;
  border-radius: 24px;
  padding: 24px;
  width: 800px;
  margin: 48px auto; /*para alinhar ao meio a propriedade é margin: auto. Nesse caso o eixo x é auto mas o y tem 48px*/
}

img {
  border-radius: 16px;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;

}

h1 {
  font-size: 40px;
  /*color: #291B1A;*/
  line-height: 140%; 
  margin-bottom: 4px;
 
}

h2 {
  font-size: 24px;

}

h1, h2 {
  color: #291B1A;
  line-height: 180%;
}

ul {
  padding-left: 24px;
}

footer {
color: #F0E8C2;
text-align: center;
padding-bottom: 48px;
font-size: 16px;

}

footer img {
  vertical-align: middle; 
}

